h1 {
    color:darksalmon;
    font-size: 150%;

}
p {
    font-family:Georgia;
    text-indent: 30px;
    margin-left: 10;

    }

#content {
    background-color: cyan;
    width: 900px;
    min-height: 200px;
    padding: 20px;
    margin: 10px;
    border: solid 1px blue;


    }
#content:hover {
    background-color:aliceblue;
    }